# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# 忽略编译生成的文件
*.obj
*.lst
*.map
*.lnp
*.dep
*.axf
*.crf
*.d
*.o
*.hex
*.bak
*.htm
*.m51


# 忽略调试文件
*.uvoptx
*.uvprojx
*.uvguix.*

# 忽略临时文件
*.tmp

# 忽略输出文件夹
/Output/
/Debug/
/Release/
/Objects/


# 忽略用户配置文件
*.uvopt
*.uvproj
*.uvgui.*